*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

html{
  font-size: 16px
}

body{
  background-color: #0A0C1C;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container{
  display: grid;
  grid-template-columns:repeat(2, minmax(200px, 564px));
  grid-auto-rows: 442px;
}

.cards{
  background-color: #1B1937;
}

.cards  p span{
  color: #AB5CDB;
}

#insight{
  color: white;
  font-weight: bold;
  font-size: 2.25rem;
  padding: 50px 50px 24px 50px;
  line-height: 125%;
}

#data{
  color: white;
  opacity: 75%;
  font-size: 0.94rem;
  padding: 0px 50px 72px 50px;
}

h1{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 120%;
}

h1 span{
  font-size: 0.75rem;
  text-transform:uppercase;
  color: white;
  opacity: 60%;
}

.info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.image{
  position: relative;
  background-color: #AB5CDB;
}

.image img{
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(230, 33%, 96%); }
    .attribution{color: white;}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
    height: auto;  
    min-height: 100vh;
    width: 100%;
  }
 .container {
    grid-template-columns:minmax(200px, 564px);  
     grid-auto-rows: 442px
  }

  .image{
    grid-area: -1;
  }

}

@media screen and (max-width: 400px) {
  .container {
    grid-auto-rows: auto;
  }

  .image {
    height: 240px;
  }

  .cards {
    min-height: 540px;
    overflow: auto;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    
  }

  #insight{
    font-size: 1.75rem;
  }

  h1{
    margin-bottom: 30px;
  }
}
