*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(253, 247, 247);
}

.wrapper{
  margin: 0 auto;
}

h1{
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.in-demand{
  font-size: 1.13rem;
  color: gray;
  margin-bottom: 30px;
}

h2{
  font-size: 2rem;
  color: white;
  padding: 30px;
  margin: 50px 0px 0px 20px ;
}

h3{
  font-size: 1.5rem;
}

h4{
  color: #F74780;
}

header{
  width: 100%;
  margin-bottom: 64px;
  height: 107px;
}

.header-content, .footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 78%;
  margin-left: 30px;
  padding: 20px;
}

button{
  font-size: 1.13rem;
  width: 168px;
  height: 59px;
  border-radius: 50px;
  background-color: #13183F;
  color: white;
  border: none;
}

section{
  width: 100%;
  height: 688px;
}

.section-content{
   position: relative;
  width: 78%;
  height: 560px;
  padding: 55px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 339px;
}

.hero{
  height: 560px;
}

.hero img{
  position: absolute;
  left: 55%;
  bottom: -10%;
}

.budget{
  margin: auto 0;
}

.budget button{
  margin-top: 30px;
  background: linear-gradient(to top, #F02AA6, #FF6F48);
  border: none;
}

main{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 368px));
  grid-template-rows:auto auto;
  padding: 55px;
  column-gap: 30px;
  row-gap: 50px;
  width: 100%;
}

.cards{
  background-color: white;
  border-radius: 10px;
}

.cards:nth-child(1){
  background: linear-gradient(to top, #F02AA6, #FF6F48);
}

h3 , .cards .in-demand , h4{
  padding: 20px;
}

.cards p{
  min-height: 113px;
  height: 118px;
}

.cards img{
  position: relative;
  left: 25px;
  bottom: 25px;
}

footer{
  width: 100%;
  background-color: #13183F;
}

.button button{
  background:linear-gradient(to top, #F02AA6 , #4851FF);;
}

.hero-mobile , .hero-tab {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
 
  .hero-desk{
    display: none;
  }

  .hero-tab{
    display: flex;
    position: relative;
    top: -45%;
  }

  main{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 368px));
}

.light-dark{
  width: 79.8px;
  height: 20px;
}
h1{
  font-size: 2.5rem;
}

 h2 , h3{
  font-size: 1.25rem;
}

button{
  width: 152px;
   height: 48px;
}

}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .hero-desk{
    display: none;
  }

  h1{
    font-size: 2.5rem;
  }

  .hero-mobile{
    display:block;
    
  }
  .section-content{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 368px));
    grid-template-rows: auto auto;
  }

 main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); 
  grid-template-rows: repeat(6, auto);             
  row-gap: 50px;                                       
}
  
}